<form action="/login" method="post">
	{{!-- Add a message html stuff here --}}
	{{ status }}
	<div class="container">
	{{!--     <label for="email"><b>Email</b></label> --}}
	    <input type="text" placeholder="Enter Email" name="email" id="email" style="font-size: 20px;" required>
	
{{!-- 	    <label for="psw"><b>Password</b></label>
 --}}	    <input type="password" placeholder="Enter Password" name="password" id="psw" style="font-size: 20px;"required>
	    <br>
	</div>
	<br>
	<div class="row center">
		<div class="input-field col s12">
		     <button class="waves-effect waves-light btn black" style="margin-bottom: 5%;" type="submit">Login</button>
		</div>   
	   {{!--  <input type="checkbox" checked="checked"> Remember me --}}
	</div>
</form>