<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <head>
    <title>Teachers Con</title>
    <meta charset="UTF-8">
  </head>
  <body>
    {{{ body }}}
  </body>
=======
<head>
	<meta charset="UTF-8">
	
	<link href="https://fonts.googleapis.com/css?family=Gorditas" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300i" rel="stylesheet">


	<title>TeacherCon</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

	 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  {{!-- <link rel="stylesheet" href="/assets/css/teacher_style.css" type="text/css"/>
 --}}
 <style>
 	body {
 		font-family: Gorditas;
 		}
 		.tabs .tab a{
		    color:#00ACC1;
		}
		.tabs .tab a:hover,.tabs .tab a.active {
			background-color:transparent;
			color: black;
		}
		.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
			color: black;	
		}
		.tabs .indicator {
			background-color: #00ACC1;
 		}
 </style>

</head>
<body class="blue-grey">
	<div class="container">
		{{{ body }}}
	</div>
	<footer class="page-footer teal lighten-5">
		<div class="container">
			<div class="row">
			  	<div class="col m6 s12">
					<p class="blue-grey-text" style="font-weight: 500; font-size: 30px; padding: 0; margin: 0;">About Teacher-Con</p>
						<p class="blue-grey-text">Teacher-Con bridges the communcation gap between busy teachers and parents, helping to provide information to ensure the needs of students are met.</p>
				</div>	

				<div class="col m4 offset-l2 s12">
					<a href="https://www.facebook.com" target="_blank">
					<img src="/assets/img/facebook.png" alt="Facebook" width="30" height="30">
					</a>
					<a href="https://www.github.com" target="_blank">
					<img src="/assets/img/github.png" alt="Github" width="30" height="30">
					</a>
					<a href="https://www.twitter.com" target="_blank">
					<img src="/assets/img/twitter.png" alt="Twitter" width="30" height="30">
					</a>
					<a href="https://www.slack.com" target="_blank"	>
					<img src="/assets/img/slack.png" alt="Slack" width="30" height="30">
					</a>
				</div>
			</div>
		</div>	
		<div class="footer-copyright">
			<div class="container center">
				<a class="blue-grey-text">© Copyright Teacher-Con 2017</a>
			</div>
		</div>
  	</footer>
</body>
>>>>>>> 236eec02cb27ed4e7d4fd64e02d579c8a7296c34
</html>