<div class="row">
    <div class="col s12" style="padding-bottom: 40px;">
      <ul class="tabs teal lighten-5 blue-grey-text">
        <li class="tab col s3"><a href="/reports">Progress Reports</a></li>
        <li class="tab col s3"><a href="/chat">Chat</a></li>
        <li class="tab col s3"><a href="/calendar">Calendar</a></li>
        <li class="tab col s3"><a href="/feedback">Feedback</a></li>
      </ul>
    </div>
</div>

  <div class="row center">
    <h2 class="grey-text text-lighten-3" style="font-size: 70px;">Calendar</h2>
  </div> 


  <div id="calendar-container">
    <div id="calendar-header">
      <span id="calendar-month-year"></span>
    </div>

    <div id="calendar-dates"></div>
  </div>


  <style type="text/css">
    #calendar-container {
      padding:      10px;
      width:        210px;
      height:       210px;
      text-align:     center;
      border:       1px solid #eee;
      border-radius:    10px;
      font-size:      16px;
      font-family:    Arial;
      background-image:   linear-gradient(#fff, #d3d3d3);
    }
    #calendar-container>div {
      padding:    0;
      margin-bottom:  10px;
    }
    #calendar-month-year {
      margin: 5px;
    }
    #calendar-dates>table>tr>td {
      padding: 5px;
    }
  </style>



  <script type="text/javascript">
  // "table" means Calendar
  // "tr" means Table Row
  // "td" means Table Data
    window.onload = function() {
      var d           = new Date();
      var month_name  = ['January', 'February','March','April','May','June','July','August','September','October','November','December'];
      var month       = d.getMonth();
      var year        = d.getFullYear();
      var first_date  = month_name[month] + "" + 1 + "" + year;
      var tmp         = new Date(first_date).toDateString();
      var first_day   = tmp.substring(0, 3);
      var day_name    = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
      var day_num     = day_name.indexOf(first_day) +2;
      var days        = new Date(year, month+1, 0).getDate();
      var calendar    = get_calendar(day_num, days);
      document.getElementById("calendar-month-year").innerHTML = month_name[month] + "" + year;
      document.getElementById("calendar-dates").appendChild(calendar);
    }
    function get_calendar(day_num, days) {
      var table = document.createElement('table');
      var tr    = document.createElement('tr');
      // First Row: Days of the Week
      for (var i = 0; i <= 6; i++) {
        var td = document.createElement('td');
        td.innerHTML = "SMTWTFS"[i];
        tr.appendChild(td);
      }
      table.appendChild(tr);
      
      // Second Row: Days of the Month
      tr = document.createElement('tr');
      for (var i = 0; i <= 6; i++) {
        if(i == day_num) {
          break;
        }
        var td = document.createElement('td');
        td.innerHTML = "";
        tr.appendChild(td);
      }
      var count = 1;
      for (var i; i <= 6; i++) {
        var td = document.createElement('td');
        td.innerHTML = count;
        count++;
        tr.appendChild(td);
      }
      table.appendChild(tr);
      
      // The remaining rows: Days of the month
      for (var r = 3; r <= 6; r++) {
        tr = document.createElement('tr');
        for (var i = 0; i <= 6; i++) {
          if (count > days) {
            table.appendChild(tr);
            return table;
          }
          var td = document.createElement('td');
          td.innerHTML = count;
          count++;
          tr.appendChild(td);
        }
        table.appendChild(tr);
      }
    }
  </script>