<h2>Teacher-Con</h2>
<center>
<div class="animate">
	<img src="/assets/img/imageedit_1_3937821306.png" alt="Teacher Apple" id="apple" width="200" height="200">
</div>
</center>

<br>
<br>

<form action="create-form">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
	
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <br>
    <button type="submit">Login</button>
     <button type="submit">Sign Up</button>
   {{!--  <input type="checkbox" checked="checked"> Remember me --}}
  </div>

</form>
