<h2>Teacher-Con</h2>
<center>
<div class="animate">
	<img src="/assets/img/imageedit_1_3937821306.png" alt="Teacher Apple" id="apple" width="200" height="200">
</div>
</center>

<br>
<br>

<form action="create-form">
	<div class="container">
	    <label for="email"><b>Email</b></label>
	    <input type="text" placeholder="Enter Email" name="email" id="email" required>
	
	    <label for="psw"><b>Password </b></label>
	    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
	    <br>
	</div>
<br>
<div class="container2">
    <button type="submit">Login</button>
</div>   
   {{!--  <input type="checkbox" checked="checked"> Remember me --}}
</form>

<div class="container2">
    <a href="/register"><button type="submit">Sign Up</button></a>
</div> 
