<div class="row center">
	<h2 class="grey-text text-lighten-3" style="font-size: 70px;">Teacher-Con</h2>
</div>
<center>
<div class="animated infinite swing">
	<img src="/assets/img/imageedit_1_3937821306.png" alt="Teacher Apple" id="apple" width="200" height="200">
</div>
</center>

<br>
<br>
{{> login }}

