<div class="row center">
    <h2 class="grey-text text-lighten-3" style="font-size: 70px;">Teacher-Con</h2>
</div>

<div class ="row center">

    <div class="welcome" style="font-size: 15px;">
    Welcome
        <ul>
            <li>
                {{name}}
            </li>

        </ul>
    </div>

</div>

<div class="row center">
    <div class="col s3 m6 l12 offset-m3">
        <div class="col m6">
            <input type="image" src="/assets/img/reports.png" href="" alt="Reports" id="progress" width="150" height="150">
            <h3>Report Card</h3>
        </div>

        <div class="col m6">
            <input type="image" src="/assets/img/chat.png" href="" alt="Chat" id="chat" width="150" height="150">
            <h3>Chat</h3>
        </div>

        <div class="col m6">
            <input type="image" src="/assets/img/calendar.png" href="" alt="Calendar" id="cal" width="150" height="150">
            <h3>Calendar</h3>
        </div>

        <div class="col m6">
            <input type="image" src="/assets/img/message.png" href="" alt="Message" id="mes" width="150" height="150" >
            <h3>Feedback</h3>
        </div>

    </div>
</div>

<script>
    var path = window.location.pathname;
    $(document).on("click", "#progress", function () {
        event.preventDefault();
//        window.location.href = window.location.pathname + "/reportcard";
        var email = localStorage.getItem("email");
        console.log("this is the email", email);

        $.ajax({
            url: path + "/reportcard",
            type: 'GET',
            data: {
                email
            }
            // send Authorization header
            // embedding jwtAuthToken from cookie
//                        headers: {
//                            "Authorization": "Bearer " + Cookies.get('token')
//                        }
        }).done(function(data) {
            console.log('protected data', data);
            window.location.href = path + "/reportcard";
        });


                    // Reload the page to get the updated list

    });

    $(document).on("click", "#calendar", function () {
        event.preventDefault();
        window.location.href = path + "/chat";
    });

    $(document).on("click", "#message", function () {
        event.preventDefault();
        window.location.href = path + "/message";
    });

    $(document).on("click", "#chat", function () {
        event.preventDefault();
        window.location.href = path + "/chat";
    });


</script>