
<div class="row center">
	<h2 class="grey-text text-lighten-3" style="font-size: 70px;">Teacher-Con</h2>
</div>
<br>
<div class="welcome">Welcome
	<ul>
	{{!-- Ari add code that welcomes parents to the app with their name--}}
	</ul>	
</div>	

<br>

<div class="container">
	<div class="row center">
		<div class="col s3 m6 l12 offset-m3">
				<div class="col m6">
				<input type="image" src="/assets/img/reports.png" alt="Report Reports" id="progress" width="150" height="150"> 
				<h3>Report Card</h3>
				</div>

				<div class="col m6">
				<input type="image" src="/assets/img/chat.png" alt="Teacher Chat" id="chat" width="150" height="150">
				<h3>Chat</h3>
			</div>
				<div class="col m6">
				<input type="image" src="/assets/img/calendar.png" alt="Calendar" id="cal" width="150" height="150">
				<h3>Calendar</h3>
				</div>

				<div class="col m6">
				<input type="image" src="/assets/img/message.png" alt="Message" id="mes" width="150" height="150">
				<h3>Feedback</h3>
				</div>	
		</div>
	</div>
</div>