<h2>Teacher-Con</h2>

<div class="container1">
	<div class="box">
		<input type="image" src="/assets/img/reports.png" alt="Progress Reports" id="progress" width="150" height="150"> 
		<h3>Report Card</h3>
	</div>

	<div class="box">
		<input type="image" src="/assets/img/chat.png" alt="Teacher Chat" id="chat" width="150" height="150">
		<h3>Chat</h3>
	</div>	

	<div class="box">
		<input type="image" src="/assets/img/calendar.png" alt="Calendar" id="cal" width="150" height="150">
		<h3>Calendar</h3>
	</div>	

	<div class="box">
		<input type="image" src="/assets/img/message.png" alt="Message" id="mes" width="150" height="150">
		<h3>Feedback</h3>	
	</div>
</div>