<div class="row center">
	<h2 class="grey-text text-lighten-3" style="font-size: 70px;">Teacher-Con</h2>
</div>

<div  class="row center">
	<form action="/register" method="post" class="col s12 m6 offset-m3">
		{{ status }}
		{{ error }}
		<div class="input-field col s12">
		    <label class="grey-text text-lighten-3" style="font-size: 20px;" for="fullname">Full Name</label>
		    <input type="text" name="fullName" id="fullname" required>
			   	</div>
		<br>
		<div class="input-field col s12">
			<label class="grey-text text-lighten-3" style="font-size: 20px;" for="email">Email</label>
		    <input type="text" name="email" id="email" required>
		</div>
		
		<div class="input-field col s12">
		    <label class="grey-text text-lighten-3" style="font-size: 20px;" for="password">Password</label>
		    <input type="text" name="password" id="password" required>
		</div>
		
		<div class="input-field col s12">
		    <label class="grey-text text-lighten-3" style="font-size: 20px;" for="phone">Phone Number</label>
		    <input type="text" name="phone" id="phone" required>
		</div>
		
		<div class="input-field col s12">
		    <label class="grey-text text-lighten-3" style="font-size: 20px;" for="address">Address</label>
		    <input type="text" name="address" id="address" required>
		</div>
			<br>
		<div class="input-field col s12">	
			<label class="grey-text text-lighten-3" style="font-size: 20px;" for="child">Child Name</label>
		    <input type="text" name="childname" id="childname" required>
		</div>    
		<br>
	    <button class="waves-effect waves-light btn black" type="submit" id="registerbtn">Register</button>
	</form>
</div>

<script>

    $(document).on("click", "#registerbtn", function () {
        event.preventDefault();
        var address = $("#address").val();
        var username = $("#fullname").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var phonenum = $("#phone").val();

        var newUser = {
            username: username,
            password: password,
            phonenum: phonenum,
            address: address,
            email: email
        };

        console.log(newUser);

        $.ajax("/register", {
            type: "POST",
            data: newUser
        }).then(function() {
                    console.log("Added a new Parent");
                    // Reload the page to get the updated list
                    window.location.href = "/login";
                }
        );

    })


</script>