<div class="row">
    <div class="col s12" style="padding-bottom: 40px;">
        <ul class="tabs teal lighten-5 blue-grey-text">
            <li class="tab col s3"><a href="/reports">Progress Reports</a></li>
            <li class="tab col s3"><a href="/chat">Chat</a></li>
            <li class="tab col s3"><a href="/calendar">Calendar</a></li>
            <li class="tab col s3"><a href="/feedback">Feedback</a></li>
        </ul>
    </div>
</div>

<div class="row center">
    <h2 class="grey-text text-lighten-3" style="font-size: 70px;">Teacher-Con</h2>
</div>

<div class="row center grey-text text-lighten-3">
    <div class="col s12">Student Name: </div>
    <div class="col s12"><span id="name"></span></div>
</div>

<div class="row center grey-text text-lighten-3">
    <table class="bordered">

        <thead>
        <tr>
            <th>Subject</th>
            <th>Grade</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Math</td>
            <td><span id="math"></span></td>
        </tr>
        <tr>
            <td>Reading</td>
            <td><span id="reading"></span></td>
        </tr>
        <tr>
            <td>Social Studies</td>
            <td><span id="socialstudies"></span></td>
        </tr>
        <tr>
            <td>Science</td>
            <td><span id="science"></span></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>
<div class="row center grey-text text-lighten-3" style="margin-bottom: 20px;">
    <table>
        <thead>
        <tr>
            <th>Average: </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><span id="average"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    $(document).on("ready", function () {
        var path = window.location.pathname;
        var email = localStorage.getItem("email");
        $.ajax({
            method: "GET",
            url: path + "/" + email,
            headers: {
                "Authorization": "Bearer " + Cookies.get('token')
            }
        }).then(function(response) {
            console.log(response);
            $("#name").html(response.name);
            $("#math").html(response.math);
            $("#reading").html(response.reading);
            $("#socialstudies").html(response.socialstudies);
            $("#science").html(response.science);
            $("#average").html(response.average);
        })
    })

</script>